#btn{
   border-radius: 35px; 
   color: pink;
   background-color: black;
   cursor: pointer;
   height: 60px;
   width: 200px;

}
#btn:active{
    font-size: 25px;
}
body{
    background-color: #4C516D;
}

video {
    width: 400px;
    height: 500px;
    border-radius: 50px;
    margin-left: 500px;
    margin-top: 100px;
    
}
#life{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-text-fill-color: aquamarine;
}