body{
    background-color: #4C516D;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    
   
}
#text{
    height: 30px;
    width: 200px;
    color: cadetblue;
}
#baby{
    height: 200px;
    width: 200px;
    border-radius: 30%;
    border: black;
}
